@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;500;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,400;0,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .homebg {
  background-image: url("https://i.ibb.co/TM4Np3N/Untitled-1.jpg");
  background-size: cover;
  /* background-color: black;
  opacity: 100%; */
/* background-repeat: no-repeat;
  background-attachment: fixed;
} */
.bannerbg {
  background-image: url("https://i.ibb.co/9vxfgmb/image-12.jpg");
  background-position: cover;
  background-repeat: no-repeat;
}

.ml15 {
  font-weight: 700;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
}

.button_submit:hover,
.feed-form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
  width: 100%;
  height: 54px;
  font-size: 14px;
  color: white;
  background: red;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

/* ...... */

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
